
// En este archivo SCSS o SASS le estoy indicando todos los estilos que tendra mi form, siendo estos exportado a mi App.css

.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://www.gradhermetic.com/sites/default/files/2020-04/Edificios%20de%20cristal.%20%20En%20Gradhermetic%20nos%20cuestionamos%20si%20son%20realmente%20eficientes.jpg');
    background-repeat: no-repeat;
  background-size: cover;
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    color: #222;
    border-radius: 8px;
    
}

form {
    position: absolute;
    inset: 4px;
    background-color: transparent;
    padding: 30px 30px;
    border-radius: 3px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(146, 126, 101, 0.199);
    backdrop-filter: blur(5px);
}

.box form h1 {

    text-align: center;
    font-size: 30px;
    letter-spacing: 0.10em;
}

.box form .input-box {
    position: relative;
    width: 300px;
    margin-top: 30px;
}

.box form .input-box input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #FFFFFF;
    font-size: 1em;
    transition: 0.5s;
    z-index: 5;


}

.box form .input-box span {
    pointer-events: none;
    color: #222;
    transition: 0.5s;
    font-weight: 500;
    position: absolute;
    padding: 20px 0px;
}


.box form .input-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #222;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .input-box input:valid~i,
.box form .input-box input:focus~i {

background-color: #222;
    height: 40px;

}

.box form .link {
    display: flex;
    justify-content: end;
    margin: 5px 24px;
}

.box form .link a {
    font-weight: 500;
    color: #222;
    transition: 0.5s;
}

.box form .link a:hover {
    font-weight: 500;
    color: rgb(146, 114, 55);

}

.login {

    padding: 13px 5px;
    font-size: 16px;
    background-color: #292626;
    font-weight: 600;
    border-radius: 3px;
    width: 150px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    color: #FFFFFF;
border: 2px solid transparent;
}

.login:hover{
    background-color: rgb(209, 163, 80);
color: #222;

}